@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bodyBgColor: #F1F2F6;
    --formBgColor: #AEB8FE;
    --inputBgColor: #758BFD;
    --inputTxtColor: #F1F2F6;
    --inputPlaceholderTxtColor: #c4c4c6;
    --addBookButtonBgColor: #0C1821;
    --addBookButtonTxtColor: #F1F2F6;
}

body {
    background-color: var(--bodyBgColor);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#bookForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--formBgColor);
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}
#bookForm > input[type=text],#bookForm > input[type=number]{
    outline: none;
    border: none;
    background-color: var(--inputBgColor);
    color: var(--inputTxtColor);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}
#bookForm > input::placeholder {
    text-transform: capitalize;
    color: var(--inputTxtColor);
    opacity: 0.6;
}
#bookReadStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--inputBgColor);
    color: var(--inputTxtColor);
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 10px;
}
input[type=radio] {
    cursor: pointer;
}
#addbookButton {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--addBookButtonBgColor);
    color: var(--addBookButtonTxtColor);
    border: none;
    width: 100%;
    padding: 20px 40px;
    border-radius: 20px;
    cursor: pointer;
}