* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --libraryCardBgColor: #EFF6E0;
    --libraryCardBorderColor: #373737;
    --bodyBgcolor: #F4F4F8;
    --inputTypeBgColor: #373737;
    --inputTypeColor: #F4F4F8;
    --addBookButtonBgColor: #FED766;
    --addBookButtonColor: #373737;
}

body {
    background-color: var(--bodyBgcolor);
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#library-card {
    background-color: var(--libraryCardBgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 6px solid var(--libraryCardBorderColor);
    border-radius: 20px;
}

.bookName, .authorName, .language, .numberPages, .readStatus {
    border: none;
    outline: none;
    background-color: var(--inputTypeBgColor);
    color: var(--inputTypeColor);
    width: 40vw;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
}
.addBookButton {
    border: none;
    outline: none;
    background-color: var(--addBookButtonBgColor);
    color: var(--addBookButtonColor);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 20px;
    width: 40vw;
    cursor: pointer;
}